@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

main {
  background: #f7f4f9;
}


/*sizes,paddigs e margins*/
.mw-1200 {
  max-width: 1200px;
}

.mw-900 {
  max-width: 900px;
}

.mw-800 {
  max-width: 800px;
}

.row {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

/*background colors*/
.bg-lilas {
  background-color: #F3EEFD;
}

.bg-full-white {
  background-color: #ffffff;
}

.bg-purple-gradient {
  background: linear-gradient(135deg, #6D28D9, #8B5CF6);
}

/*font colors*/
.font-purple {
  color: #8B5CF6;
}

.font-white {
  color: #ffffff;
}

.font-yellow {
  color: #FFA500;
}

.nav-link {
  color: #8B5CF6;
  font-weight: 600;
  font-size: 1.1rem;
}

a:hover {
  transition: 0.25s;
}

/*text-styles*/
.text-justify {
  text-align: justify;
}

.link-default {
  text-decoration: none;
  color: black;
}

.link-default:hover {
  color: #8B5CF6;
}

span {
  color: #8B5CF6;
}